.grid-layout.grid-layout2.margin-top50
  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.youtube.com/embed/QV2dIocn-hk", :width => "500"}

  .grid-item
    %h3.margin-top0
      Continuous compliance
    %p
      GitLab simplifies compliance for continuous delivery by allowing customers to
      maintain granular policies such as
      <br> - defining who can deploy (via segregation of duties and approval rules)
      <br> - maintain governance and audit trail of all changes
      <br> - govern releases with version history, code and evidence
